html, body{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: center;
}

#container{
    width: auto;
    height: auto;
    border: 1px solid black;
    padding: 7px;
    background-color: maroon;
}

canvas{
    border: 1px solid black;
}

a:link, a:hover{
    background-color: yellow;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    color: blue;
}

a:hover{
    background-color: grey;
    color: black;
}

#navbar{
    display: flex;
    justify-content: center;
}