html, body{
    display: flex;
    justify-content: center;
}

#container{
    background-color: lightseagreen;
}

canvas{
    background-color: black;
}

#nav{
    display: flex;
    justify-content: center;
}