/*CSS goes here*/

html, body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    font-family: 'Syne Mono', monospace;
}

#container{
    width: 1000px;
    background-color: tomato;
}

header{
    background-color: white;
    margin-bottom: 10px;
    text-align: center;
}

nav{
    background-color: white;
    margin-bottom: 10px;
}

main{
    display: flex;
    justify-content: center;
}

canvas{
    background-color: white;
    border: 1px solid black;
    margin-bottom: 10px;
}

footer{
    background-color: white;
    margin-bottom: 10px;
    text-align: center;
}