html, body{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 820px;
    background-color: gray;
    padding: 10px;
}

h2{
    text-align: center;
}

canvas{
    background-image: url(images/shapes.png);
    margin-bottom: 5px;
}